In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('/Users/masashi-ijichi/Downloads/parat_data_20240624/core.csv')

In [6]:
df.columns

Index(['Name', 'ID', 'Country', 'Website', 'Groups', 'Aggregated subsidiaries',
       'Region', 'Stage', 'Sector', 'Description', 'Description source',
       'Description link', 'Description date', 'Publications: AI publications',
       'Publications: Recent AI publication growth',
       'Publications: AI publication percentage',
       'Publications: AI publications in top conferences',
       'Publications: Citations to AI research',
       'Publications: CV publications', 'Publications: NLP publications',
       'Publications: Robotics publications',
       'Publications: Total publications', 'Patents: AI patents',
       'Patents: AI patents: recent growth', 'Patents: AI patent percentage',
       'Patents: Granted AI patents', 'Patents: Total patents',
       'Patents: AI use cases: Agriculture',
       'Patents: AI use cases: Banking and finance',
       'Patents: AI use cases: Business',
       'Patents: AI use cases: Computing in government',
       'Patents: AI use cases: Document management and publishing',
       'Patents: AI use cases: Education', 'Patents: AI use cases: Energy',
       'Patents: AI use cases: Entertainment',
       'Patents: AI use cases: Industry and manufacturing',
       'Patents: AI use cases: Life sciences',
       'Patents: AI use cases: Military',
       'Patents: AI use cases: Nanotechnology',
       'Patents: AI use cases: Networking',
       'Patents: AI use cases: Personal devices and computing',
       'Patents: AI use cases: Physical sciences and engineering',
       'Patents: AI use cases: Security',
       'Patents: AI use cases: Semiconductors',
       'Patents: AI use cases: Telecommunications',
       'Patents: AI use cases: Transportation',
       'Patents: AI applications and techniques: Analytics and algorithms',
       'Patents: AI applications and techniques: Computer vision',
       'Patents: AI applications and techniques: Control',
       'Patents: AI applications and techniques: Distributed AI',
       'Patents: AI applications and techniques: Knowledge representation',
       'Patents: AI applications and techniques: Language processing',
       'Patents: AI applications and techniques: Measuring and testing',
       'Patents: AI applications and techniques: Planning and scheduling',
       'Patents: AI applications and techniques: Robotics',
       'Patents: AI applications and techniques: Speech processing',
       'Workforce: AI workers', 'Workforce: Tech Tier 1 workers', 'City',
       'State/province', 'PARAT link'],
      dtype='object')

In [7]:
df.dtypes

Name                              object
ID                                 int64
Country                           object
Website                           object
Groups                            object
                                   ...
Workforce: AI workers              int64
Workforce: Tech Tier 1 workers     int64
City                              object
State/province                    object
PARAT link                        object
Length: 61, dtype: object

In [7]:
df.sort_values('Patents: Granted AI patents',ascending=False)[['Name','Country','Patents: Granted AI patents']].head(20)

                            Name        Country  Patents: Granted AI patents
3                            IBM  United States                         6079
71                         Baidu          China                         5567
63                       Tencent          China                         3693
39                       Samsung    South Korea                         2263
5    Alphabet (including Google)  United States                         2067
4                      Microsoft  United States                         1999
2                         Amazon  United States                         1655
303                       Toyota          Japan                         1235
22                        Huawei          China                         1158
12                         Intel  United States                         1069
258                          NEC          Japan                         1023
28                         Adobe  United States                         1018
21                       Siemens        Germany                          983
402                      Ping An          China                          864
112                      Alibaba          China                          847
20               Bank of America  United States                          824
18                      Qualcomm  United States                          768
367                    Sensetime          China                          759
41                       Fujitsu          Japan                          754
24                   Capital One  United States                          710

In [10]:
df.sort_values('Patents: AI patents',ascending=False)[['Name','Country','Patents: AI patents']].head(20)

                            Name        Country  Patents: AI patents
71                         Baidu          China                10182
63                       Tencent          China                 9702
3                            IBM  United States                 8724
39                       Samsung    South Korea                 6032
22                        Huawei          China                 4220
5    Alphabet (including Google)  United States                 3859
4                      Microsoft  United States                 3728
21                       Siemens        Germany                 2603
55                         Bosch        Germany                 2532
402                      Ping An          China                 2239
520  China Mobile Communications          China                 2119
258                          NEC          Japan                 2100
112                      Alibaba          China                 2097
12                         Intel  United States                 2069
303                       Toyota          Japan                 2005
18                      Qualcomm  United States                 1970
2                         Amazon  United States                 1819
41                       Fujitsu          Japan                 1807
367                    Sensetime          China                 1583
28                         Adobe  United States                 1461

In [22]:
df.sort_values('Workforce: AI workers',ascending=False)[['Name','Country','Workforce: AI workers']].head(20)

                           Name         Country  Workforce: AI workers
2                        Amazon   United States                  14164
0                 Accenture Plc         Ireland                  13610
7      Deloitte Touche Tohmatsu  United Kingdom                   6662
3                           IBM   United States                   6114
5   Alphabet (including Google)   United States                   5658
4                     Microsoft   United States                   5245
1                     Cognizant   United States                   5226
14                Ernst & Young  United Kingdom                   4314
13                  Wells Fargo   United States                   3736
8                         Apple   United States                   3567
17                         Citi   United States                   3158
24                  Capital One   United States                   3123
50                   S&P Global   United States                   2812
20              Bank of America   United States                   2498
36             American Express   United States                   2098
31           Unitedhealth Group   United States                   2090
51          Booz Allen Hamilton   United States                   2083
27                         Meta   United States                   1896
85           McKinsey & Company   United States                   1809
57                        Iqvia   United States                   1697

In [13]:
df.groupby('Country')['Patents: Granted AI patents'].sum().sort_values(ascending=False).to_frame().to_csv('patents_granted_country.csv')

In [18]:
df.groupby('Region')['Patents: Granted AI patents'].sum().sort_values(ascending=False)

Region
North America    28542
Asia             23662
Europe            3627
Middle East          2
Name: Patents: Granted AI patents, dtype: int64